<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.dao.SysTreeDicMapper">
<!--    异步查询区域树-->
    <select id="selectTreeNodes" parameterType="com.lc.model.entity.SysTreeDic" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from SYS_TREE_DIC
        where HIGHER_LEVEL_DICTIONARY_NO = #{higherLevelDictionaryNo,jdbcType=VARCHAR}
        and DICTIONARY_CATEGORY_NO = #{dictionaryCategoryNo,jdbcType=VARCHAR}
    </select>
</mapper>