<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lc.dao.TcRgtResourceMapper">
    <select id="selectByParentNo" parameterType="com.lc.model.entity.TcRgtResource" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from TC_RGT_RESOURCE
        where RESOURCE_NO != #{resourceNo}
        and LOCATION like '%${resourceNo}%'
        <if test="resourceTp != null">
          and  RESOURCE_TP = #{resourceTp,jdbcType=VARCHAR}
        </if>
        <if test="resourceEffectFlg != null">
          and  RESOURCE_EFFECT_FLG = #{resourceEffectFlg,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>